.idea
*.iml
.*.un~
/out
.idea_modules
.settings
.project
.classpath
target
*.pre-cvfix
*.springBeans
*.swp
eventlog.layout*
eventlog.log*
config-service.json
npm-debug.log
src/main/webapp/test/ci/*.xml
src/main/webapp/node_modules/
src/main/webapp/tests/acceptance/result/

application-local.yml
zmon-controller-it/somepath/credentials/user.json
zmon-controller-it/somepath/credentials/client.json

zmon-controller-ui/node_modules

.factorypath
run-dev-firebase.sh
client.json
user.json

scm-source.json
deps/

.DS_Store
