<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">

  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000">

    <base href="/grafana/">

    <title>Grafana</title>
    <link href='public/css/fonts.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="${staticUrl} + '/grafana/public/css/grafana.dark.min.css'" />
    <link rel="icon" type="image/png" href="img/fav32.png" th:href="${staticUrl} + '/grafana/public/img/fav32.png'" />

    <style type="text/css">
        .sidemenu-org-section {
            /* hide user profile */
            display: none;
        }
    </style>

      <!-- Opentracing -->
      <script th:inline="javascript" th:if="${eumTracingEnabled}" src="/lib/opentracing-javascript/opentracing-browser.min.js"></script>
      <script th:inline="javascript" th:if="${eumTracingEnabled}" src="/lib/opentracing-javascript-utils/opentracing-javascript-utils.js"></script>

      <script type="text/javascript" th:if="${eumTracingEnabled}">
      var eumTracingConfig = /*[[${eumTracingConfig}]]*/  { grafanaConfig: "" };
      //var eumTracingConfig = /*[[${eumTracingConfig}]]*/  { name: "noop", zmonConfig: {} };
      console.log('grafanaEUMConfig=', eumTracingConfig)
      opentracingJavascriptUtils.initOpenTracing(eumTracingConfig);
    </script>

  </head>

    <body ng-cloak>
        <grafana-app class="grafana-app">

            <aside class="sidemenu-wrapper">
                <sidemenu ng-if="contextSrv.sidemenu"></sidemenu>
            </aside>

            <div class="page-alert-list">
                <div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
                    <button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                    <div class="alert-title">{{alert.title}}</div>
                    <div ng-bind='alert.text'></div>
                </div>
            </div>

            <div ng-view class="main-view"></div>
        </grafana-app>
  </body>

  <script th:inline="javascript">

        var user = {
            "isSignedIn":true,
            "id":1,
            "login": [[${@defaultZMONPermissionService.getUserName()}]],
            "name": [[${@defaultZMONPermissionService.getUserName()}]],
            "email":"",
            "lightTheme":false,
            "orgId":1,
            "orgName":"ZMON",
            "orgRole":"Editor",
            "isGrafanaAdmin":false,
            "gravatarUrl":"",
            "timezone":"browser"
        };

        var settings = {
            "allowOrgCreate": false,
            "appSubUrl": "/grafana",
            "authProxyEnabled": false,
            "buildInfo": {
                "buildstamp": 1463565877,
                "commit": "v3.0.2+44-gc41e3dc",
                "env": "production",
                "hasUpdate": true,
                "latestVersion": "3.0.2",
                "version": "3.1.0"
            },
            "datasources": {
                "alertstate": {
                    "jsonData": {},
                    "meta": {
                        "type": "datasource",
                        "name": "AlertState",
                        "id": "grafana-alertstate-datasource",
                        "info": {
                            "author": {"name": "Zalando SE", "url": "https://tech.zalando.com"},
                            "description": "datasource plugin for ZMON Alert State",
                            "links": [
                            ],
                            "logos": {
                            },
                            "screenshots": null,
                            "version": "1.0",
                            "updated": "2016-02-05"
                        },
                        "dependencies": {"grafanaVersion": "3.x.x", "plugins": []},
                        "includes": null,
                        "module": "plugins/grafana-alertstate-datasource/module",
                        "baseUrl": "public/plugins/grafana-alertstate-datasource",
                        "annotations": false,
                        "metrics": true,
                        "builtIn": false,
                        "mixed": false,
                        "app": ""
                    },
                    "name": "AlertState",
                    "type": "grafana-alertstate-datasource"
                },
                "-- Mixed --": {
                    "meta": {
                        "type": "datasource",
                        "name": "Mixed datasource",
                        "id": "mixed",
                        "info": {
                            "author": {"name": "", "url": ""},
                            "description": "",
                            "links": null,
                            "logos": {
                                    "small": "public/img/icn-datasource.svg",
                                    "large": "public/img/icn-datasource.svg"
                                    },
                            "screenshots": null,
                            "version": "",
                            "updated": ""
                        },
                        "dependencies": {"grafanaVersion": "*", "plugins": []},
                        "includes": null,
                        "module": "app/plugins/datasource/mixed/module",
                        "baseUrl": "public/app/plugins/datasource/mixed",
                        "annotations": false,
                        "metrics": true,
                        "builtIn": true,
                        "mixed": true,
                        "app": ""
                    },
                    "type": "mixed"
                }
            },
            "defaultDatasource": "kairosdb",
            "panels": {
                "dashlist": {
                    "baseUrl": "public/app/plugins/panel/dashlist",
                    "id": "dashlist",
                    "info": {
                        "author": {"name": "Grafana Project", "url": "http://grafana.org"},
                        "description": "",
                        "links": null,
                        "logos": {
                            "small": "public/app/plugins/panel/dashlist/img/icn-dashlist-panel.svg",
                            "large": "public/app/plugins/panel/dashlist/img/icn-dashlist-panel.svg"
                        },
                        "screenshots": null,
                        "version": "",
                        "updated": ""
                    },
                    "module": "app/plugins/panel/dashlist/module",
                    "name": "Dashboard list"
                },
                "jdbranham-diagram-panel": {
                    "baseUrl": "public/plugins/jdbranham-diagram-panel",
                    "id": "jdbranham-diagram-panel",
                    "info": {
                        "author": {
                            "name": "Jeremy Branham",
                            "url": "https://github.com/jdbranham"

                        },
                        "description": "Diagram panel for grafana",
                        "links": [
                            {
                                "name": "Project site",
                                "url": "https://github.com/jdbranham/grafana-diagram"
                            },
                            {
                                "name": "Apache License",
                                "url": "https://github.com/jdbranham/grafana-diagram/blob/master/LICENSE"
                            }
                        ],
                        "logos": {
                            "large": "public/plugins/jdbranham-diagram-panel/img/icn-diagram-panel.svg",
                            "small": "public/plugins/jdbranham-diagram-panel/img/icn-diagram-panel.svg"
                        },
                        screenshots: null,
                        updated: "2016-10-07",
                        "version":"1.3.0"
                    },
                    "module": "plugins/jdbranham-diagram-panel/module",
                    "name": "Diagram"
                },
                "grafana-piechart-panel": {
                    "baseUrl": "public/plugins/grafana-piechart-panel",
                    "id": "grafana-piechart-panel",
                    "info": {
                        "author": {"name": "Raintank Inc.", "url": "http://raintank.io"},
                        "description": "Pie chart panel for grafana",
                        "links": [{
                            "name": "Project site",
                            "url": "https://github.com/grafana/piechart-panel"
                        }, {
                            "name": "Blog Post",
                            "url": "https://blog.raintank.io/friends-dont-let-friends-abuse-pie-charts/"
                        }, {
                            "name": "MIT License",
                            "url": "https://github.com/grafana/piechart-panel/blob/master/LICENSE"
                        }],
                        "logos": {
                            "small": "public/plugins/grafana-piechart-panel/src/img/piechart_logo_small.png",
                            "large": "public/plugins/grafana-piechart-panel/src/img/piechart_logo_large.png"
                        },
                        "screenshots": [{
                            "path": "public/plugins/grafana-piechart-panel/src/img/piechart-donut.png",
                            "name": "Donut!"
                        }, {
                            "path": "public/plugins/grafana-piechart-panel/src/img/piechart-legend-on-graph.png",
                            "name": "Legend on the graph"
                        }, {
                            "path": "public/plugins/grafana-piechart-panel/src/img/piechart-legend-rhs.png",
                            "name": "Legend to the right"
                        }, {
                            "path": "public/plugins/grafana-piechart-panel/src/img/piechart-legend-under.png",
                            "name": "Legend underneath"
                        }, {
                            "path": "public/plugins/grafana-piechart-panel/src/img/piechart-options.png",
                            "name": "Piechart options"
                        }],
                        "version": "1.1.1",
                        "updated": "2015-02-10"
                    },
                    "module": "plugins/grafana-piechart-panel/module",
                    "name": "Pie Chart"
                },
                "graph": {
                    "baseUrl": "public/app/plugins/panel/graph",
                    "id": "graph",
                    "info": {
                        "author": {"name": "Grafana Project", "url": "http://grafana.org"},
                        "description": "",
                        "links": null,
                        "logos": {
                            "small": "public/app/plugins/panel/graph/img/icn-graph-panel.svg",
                            "large": "public/app/plugins/panel/graph/img/icn-graph-panel.svg"
                        },
                        "screenshots": null,
                        "version": "",
                        "updated": ""
                    },
                    "module": "app/plugins/panel/graph/module",
                    "name": "Graph"
                },
                "pluginlist": {
                    "baseUrl": "public/app/plugins/panel/pluginlist",
                    "id": "pluginlist",
                    "info": {
                        "author": {"name": "Grafana Project", "url": "http://grafana.org"},
                        "description": "",
                        "links": null,
                        "logos": {
                            "small": "public/app/plugins/panel/pluginlist/img/icn-dashlist-panel.svg",
                            "large": "public/app/plugins/panel/pluginlist/img/icn-dashlist-panel.svg"
                        },
                        "screenshots": null,
                        "version": "",
                        "updated": ""
                    },
                    "module": "app/plugins/panel/pluginlist/module",
                    "name": "Plugin list"
                },
                "singlestat": {
                    "baseUrl": "public/app/plugins/panel/singlestat",
                    "id": "singlestat",
                    "info": {
                        "author": {"name": "Grafana Project", "url": "http://grafana.org"},
                        "description": "",
                        "links": null,
                        "logos": {
                            "small": "public/app/plugins/panel/singlestat/img/icn-singlestat-panel.svg",
                            "large": "public/app/plugins/panel/singlestat/img/icn-singlestat-panel.svg"
                        },
                        "screenshots": null,
                        "version": "",
                        "updated": ""
                    },
                    "module": "app/plugins/panel/singlestat/module",
                    "name": "Singlestat"
                },
                "table": {
                    "baseUrl": "public/app/plugins/panel/table",
                    "id": "table",
                    "info": {
                        "author": {"name": "Grafana Project", "url": "http://grafana.org"},
                        "description": "",
                        "links": null,
                        "logos": {
                            "small": "public/app/plugins/panel/table/img/icn-table-panel.svg",
                            "large": "public/app/plugins/panel/table/img/icn-table-panel.svg"
                        },
                        "screenshots": null,
                        "version": "",
                        "updated": ""
                    },
                    "module": "app/plugins/panel/table/module",
                    "name": "Table"
                },
                "text": {
                    "baseUrl": "public/app/plugins/panel/text",
                    "id": "text",
                    "info": {
                        "author": {"name": "Grafana Project", "url": "http://grafana.org"},
                        "description": "",
                        "links": null,
                        "logos": {
                            "small": "public/app/plugins/panel/text/img/icn-text-panel.svg",
                            "large": "public/app/plugins/panel/text/img/icn-text-panel.svg"
                        },
                        "screenshots": null,
                        "version": "",
                        "updated": ""
                    },
                    "module": "app/plugins/panel/text/module",
                    "name": "Text"
                }
            }
        };

        var kairosDbSources = /*[[${KairosDBServices}]]*/ [{"name":"KairosDB", "url": "/rest/kairosdbs/kairosdb/"}];

        var populateKairosdbSource = function(kairosdb) {
            var kairosdbSettings = {
                "jsonData": {},
                "meta": {
                    "type": "datasource",
                    "name": "KairosDB",
                    "id": "grafana-kairosdb-datasource",
                    "info": {
                        "author": {"name": "Raintank Inc.", "url": "http://raintank.io"},
                        "description": "datasource plugin for KairosDB",
                        "links": [{
                            "name": "GitHub",
                            "url": "https://github.com/grafana/kairosdb-datasource"
                        }, {
                            "name": "License",
                            "url": "https://github.com/grafana/kairosdb-datasource/blob/master/LICENSE"
                        }],
                        "logos": {
                            "small": "public/plugins/grafana-kairosdb-datasource/img/kairosdb_logo_small.png",
                            "large": "public/plugins/grafana-kairosdb-datasource/img/kairosdb_logo_large.png"
                        },
                        "screenshots": null,
                        "version": "1.0.1",
                        "updated": "2016-02-10"
                    },
                    "dependencies": {"grafanaVersion": "3.x.x", "plugins": []},
                    "includes": null,
                    "module": "plugins/grafana-kairosdb-datasource/module",
                    "baseUrl": "public/plugins/grafana-kairosdb-datasource",
                    "annotations": false,
                    "metrics": true,
                    "builtIn": false,
                    "mixed": false,
                    "app": ""
                },
                "name": "KairosDB",
                "type": "grafana-kairosdb-datasource",
                "url": "/rest/kairosDBPost/"
            }

            kairosdbSettings.name = kairosdb.name;
            kairosdbSettings.url = kairosdb.url;

            settings.datasources[kairosdb.name] = kairosdbSettings;
        };

        kairosDbSources.forEach(populateKairosdbSource);

        var mainNavLinks =  [
			{
				"text": "ZMON",
				"icon": "icon-gf icon-gf-globe",
				"url": "/"
			},
			{
				"text": "Dashboards",
				"icon": "icon-gf icon-gf-dashboard",
				"url": "/grafana/",
				"children": [
					{
						"text": "Home",
						"url": "/grafana/"
					},
					{
						"divider": true
					},
					{
						"text": "New",
						"icon": "fa fa-plus",
						"url": "/grafana/dashboard/new"
					},
					{
						"text": "Import",
						"icon": "fa fa-download",
						"url": "/grafana/import/dashboard"
					}
				]
			}
		];

        window.grafanaBootData = {
            user: user,
            settings: settings,
            mainNavLinks: mainNavLinks
        };
    </script>

    <script charset='UTF-8' th:inline="javascript" th:if="${appdynamicsEnabled}">
      var appdynamicsConfig = /*[[${appdynamicsConfig}]]*/ { apiKey: "", adrumExtUrlHttp: "", adrumExtUrlHttps: "", beaconUrlHttp: "", beaconUrlHttps: "", xd: true}
      console.log('AppDynamics Agent is Enabled', appdynamicsConfig)
      window['adrum-start-time'] = new Date().getTime();
      (function(config){
          config.appKey = 'EUM-AAB-AUY';
          config.adrumExtUrlHttp = appdynamicsConfig.adrumExtUrlHttp;
          config.adrumExtUrlHttps = appdynamicsConfig.adrumExtUrlHttps;
          config.beaconUrlHttp = appdynamicsConfig.beaconUrlHttp;
          config.beaconUrlHttps = appdynamicsConfig.beaconUrlHttps;
          config.xd = { enable: appdynamicsConfig.xd.enable };
        })(window['adrum-config'] || (window['adrum-config'] = {}));
        if ('https:' === document.location.protocol) {
            document.write(unescape('%3Cscript')
          + " src='https://cdn.appdynamics.com/adrum/adrum-4.3.2.1.js' "
          + " type='text/javascript' charset='UTF-8'"
          + unescape('%3E%3C/script%3E'));
        } else {
            document.write(unescape('%3Cscript')
          + " src='http://cdn.appdynamics.com/adrum/adrum-4.3.2.1.js' "
          + " type='text/javascript' charset='UTF-8'"
          + unescape('%3E%3C/script%3E'));
        }
    </script>

    <!-- Instana EUM -->
    <script charset='UTF-8' th:inline="javascript" th:if="${instanaEnabled}" >
        var instanaConfig = /*[[${instanaConfig}]]*/ { apiKey: "" };
        (function(i,s,o,g,r,a,m){i['InstanaEumObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//eum.instana.io/eum.min.js','ineum');
        ineum('apiKey', instanaConfig.apiKey);
        ineum('traceId', '<%= request.getAttribute("X-INSTANA-T") %>' );
        // set the name of a page on which this load/errors/calls happened
        ineum('page', 'Graffana Landing Page');
    </script>

    <script src="public/app/boot.4595d54e.js"></script>
</html>
