<!DOCTYPE html>
<html ng-app="zmon2App" ng-controller="IndexCtrl"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta property="sessionExpiredUrl" content="logout?error=session_expired" ></meta>
    <title>ZMON</title>

    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/zalando-bootstrap.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/font-awesome.min.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/angular-ui-select.min.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/main.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/charts.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/dashboard.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/errors.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/forms.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/performance.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/cloud.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/select2/zmon-select2.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/select2/select2-bootstrap.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/select2/select2.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/nvd3/nv.d3.min.css?t=@buildTime@'" />

    <script th:src="${staticUrl} + '/lib/stacktrace/stacktrace.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/jquery/jquery.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/bootstrap/bootstrap.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular/angular.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-local-storage/angular-local-storage.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-cookies/angular-cookies.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-sanitize/angular-sanitize.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-route/angular-route.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/ui-bootstrap/ui-bootstrap-tpls.min.js?t=@buildTime@'"></script>

    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.time.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.selection.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.stack.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.tooltip.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/lodash/lodash.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/moment/moment.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/d3/d3.min.js?t=@buildTime@'"></script>

    <script th:src="${staticUrl} + '/lib/raphael/raphael.2.1.0.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/justgage/justgage.1.0.1.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/showdown/showdown.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/ace/ace.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/jsonpath/jsonpath.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/jsonpath-dchester/jsonpath.min.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/js-yaml/js-yaml.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angulartics/angulartics.min.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/select2/select2.min.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/colorhash/colorhash.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/d3/d3.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/nvd3/build/nv.d3.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/ng-infinite-scroll/ng-infinite-scroll.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/clipboard/clipboard.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/ngclipboard/ngclipboard.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/angular-ui-select/select.min.js?t=@buildTime@'" chartset="utf-8"></script>

</head>
<body ng-class="activePage">
    <div class="loading-indicator" ng-show="IndexCtrl.getLoadingIndicatorState()">
        Loading...
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="span12">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="/logo.png" th:src="@{/logo.png}" /> ZMON</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse navbar-left">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active-page': activePage == 'dashboards'}"><a href="#dashboards">Dashboards</a></li>
                        <!--/** <sec:authorize="isAuthenticated()"> **/-->
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'cloud'}"><a href="#/cloud" >Cloud</a></li>
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'entities-page'}"><a href="#/entities" >Entities</a></li>
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'check-definitions'}"><a href="#/check-definitions" >Check defs</a></li>
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'alert-definitions'}"><a href="#/alert-definitions" >Alert defs</a></li>
                        <!--/** </sec:authorize> **/-->
                        <li th:if="${hasTrialRunPermission}" ng-class="{'active-page': activePage == 'trial-run'}"><a href="#trial-run" >Trial Run</a></li>
                    </ul>
                </div>
                <div class="navbar-text navbar-right" ng-cloak>
                    <span ng-class="{invisible: !serviceStatus.hasDataRefresh}">
                        <start-stop refreshing="serviceStatus.isDataRefreshing" start-refresh-callback="resumeDataRefresh()" stop-refresh-callback="pauseDataRefresh()" ></start-stop>
                    </span>
                    <span class="app-status" ng-show="serviceStatus.isStatusRefreshing" uib-tooltip-html="statusTooltip" tooltip-placement="bottom" tooltip-trigger="mouseenter">
                        <strong ng-class="serviceStatus.queueSize > 1000 ? 'warning' : 'ok'">{{serviceStatus.queueSize}}</strong> in queue,
                        <strong ng-class="serviceStatus.workersActive < serviceStatus.workersTotal ? 'warning' : 'ok'">{{ serviceStatus.workersActive}}/{{ serviceStatus.workersTotal}}</strong> active workers,
                        <strong>{{ checksPerSecond | number:2 }}</strong>/s
                        <strong class="app-last-update" ng-class="{warning:alertsOutdated}" ng-show="activePage === 'dashboard'">{{alertsLastUpdate | time}}</strong>
                    </span>
                    <span ng-show="!serviceStatus.isStatusRefreshing">
                        Initializing status...
                    </span>
                    <span class="app-status">
                        <a title="ZMON Documentation" target="docs" href="https://docs.zmon.io">
                            <i class="fa fa-question-circle fa-lg"></i>
                        </a>
                    </span>
                    <span class="app-status">
                        <a title="Grafana" target="_blank" href="/grafana/">
                            <i class="fa fa-fw fa-area-chart fa-lg"></i>
                        </a>
                    </span>
                    <span sec:authorize="isAnonymous()" class="auth">
                        <a class="auth-action" ng-href="/signin">Log in</a>
                    </span>
                    <span sec:authorize="isAuthenticated()" class="auth"
                        data:user="${userName}"
                        data:teams="${teams}"
                        data:schedule-downtime="${hasScheduleDowntimePermission}"
                        data:delete-downtime="${hasDeleteDowntimePermission}"
                        data:add-comment="${hasAddCommentPermission}"
                        data:add-alert-def="${hasAddAlertDefinitionPermission}"
                        data:add-dashboard="${hasAddDashboardPermission}"
                        data:instantaneous-alert-evaluation="${hasInstantaneousAlertEvaluationPermission}"
                        data:cloud-check="${cloudCheckId}">

                        <button type="button" class="auth-user btn btn-default dropdown-toggle" data-toggle="dropdown" uib-popover="Teams: {{userTeamsOnPopover}}" popover-placement="left" popover-trigger="mouseenter" sec:authentication="name">
                            klaus
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="logout" data-test="logout" th:href="@{/logout}">Logout</a></li>
                        </ul>
                   </span>
                </div>
            </div>
        </div>
    </nav>

    <div id="main" ng-view></div>

    <div id="message-manager-wrapper">
        <span class="message"></span>
    </div>
</body>

<script th:src="${staticUrl} + '/js/app.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/entities.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/timespan.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/datetime.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/time.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/prettify.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/markdown.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/epochToDate.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/downtimeReasons.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/inDisplayedGroup.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/encodeUri.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/entityName.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/timeago.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/priority.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/status.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/chart.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/chartd3.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/gauge.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/trend.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/startStop.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/dashboardWidget.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/networkMap.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/json.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/expand.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/focus.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/autofocus.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/commentModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/entityFilterContainer.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/entityFilterForm.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigContainer.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigChart.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/codeEditor.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/repeatMonitor.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/modelChangeBlur.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/select2.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/clickOutside.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/dropdown.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertValueModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/downtimeModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertHistory.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertDowntimes.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertDeleteModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/codeEditorModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/MainAlertService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/CommunicationService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/FeedbackMessageService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/HttpResponseInterceptor.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/UserInfoService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/DowntimesService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/PreconditionsService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/LoadingIndicatorService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/DashboardCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CloudCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CloudEndpointsCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/AlertDetailsCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/AlertDefinitionCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CheckDefinitionCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CheckDefinitionEditCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/DashboardDefinitionCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/AlertDefinitionEditCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/DashboardConfigurationCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CheckChartsCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/TrialRunCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/HistoryCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/EntityCtrl.js?t=@buildTime@'"></script>

<script type="text/javascript">
    angular.module('zmon2App').controller('IndexCtrl', ['$scope', '$location', 'localStorageService', 'MainAlertService', '$interval', 'APP_CONST', 'LoadingIndicatorService', 'UserInfoService',
        function($scope, $location, localStorageService, MainAlertService, $interval, APP_CONST, LoadingIndicatorService, UserInfoService) {
            $scope.IndexCtrl = this;
            $scope.IndexCtrl.activePage = null; // will be set be corresponding controller i.e. from the child $scope
            $scope.statusTooltip = "Loading status...";
            $scope.checksPerSecond = 0;
            $scope.serviceStatus = {};
            $scope.checkInvocationsCache = {};
            $scope.userTeamsOnPopover = '(no team)';

            this.userInfo = UserInfoService.get();

            // limit list of teams on popover to 5
            if (this.userInfo.teams) {
                var teams = this.userInfo.teams.split(',');
                $scope.userTeamsOnPopover = teams.slice(-5).join(', ') + (teams.length > 5 ? '...' : '');
            }

            this.getLoadingIndicatorState = function() {
                return LoadingIndicatorService.getState();
            };

            $scope.pauseDataRefresh = function() {
                MainAlertService.pauseDataRefresh();
            };
            $scope.resumeDataRefresh = function() {
                MainAlertService.resumeDataRefresh();
            };

            $scope.$on('$routeChangeStart', function() {
                localStorageService.set('returnTo', '/#' + $location.path());
            });

            // Start periodic refresh of the app's overall status only (Q-size etc.)
            // Not related to the periodic data refresh that the page content might by having (e.g. dashboard, alert details etc.)
            // The periodoc data refresh of the pages that have it are defined in MainAlertService.status's 'hasDataRefresh' and 'isDataRefreshing'
            $scope.alertsOutdated = false;

            // Refresh status helper.
            var refreshStatus = function () {
                var currentStatus = MainAlertService.getStatus();
                var statusHtml = "<div class='app-status-tooltip'>";

                $scope.statusTooltip = "";
                $scope.alertsOutdated = new Date()/1000 - $scope.alertsLastUpdate > 30 ? true : false;

                // Sort queues and workers.
                currentStatus.workers = _.sortBy(currentStatus.workers, "name");
                currentStatus.queues = _.sortBy(currentStatus.queues, "name");

                // Get workers detailed status.
                workerHtml = "";
                var schedulerHtml = "";
                var workerHtml = "";
                var dataHtml ="";

                _.each(currentStatus.workers, function(worker) {
                    if (worker.name.startsWith('s-')) {
                        schedulerHtml += "<div>";
                        schedulerHtml += "<span class='name'>" + worker.name.substr(2) + "</span>";
                        schedulerHtml += "<span class='calls'>" + worker.checksPerSecond.toFixed(2) + "/s</span>";
                        schedulerHtml += "<span class='last'> " + worker.lastExecutionTime + "</span>";
                        schedulerHtml += "</div>";
                    }
                    else if (worker.name.startsWith('d-')) {
                        dataHtml += "<div>";
                        dataHtml += "<span class='name'>" + worker.name.substr(2) + "</span>";
                        dataHtml += "<span class='calls'>" + worker.checksPerSecond.toFixed(2) + "/s</span>";
                        dataHtml += "<span class='last'> " + worker.lastExecutionTime + "</span>";
                        dataHtml += "</div>";
                    }
                    else {
                        workerHtml += "<div>";
                        workerHtml += "<span class='name'>" + worker.name + "</span>";
                        workerHtml += "<span class='calls'>" + worker.checksPerSecond.toFixed(2) + "/s</span>";
                        workerHtml += "<span class='last'> " + worker.lastExecutionTime + "</span>";
                        workerHtml += "</div>";
                    }
                });

                if (workerHtml != "") {
                    statusHtml += "<div class='workers'><h6>Workers</h6>";
                    statusHtml += workerHtml;
                    statusHtml += "</div>";
                }

                if (schedulerHtml != "") {
                    statusHtml += "<div class='workers'><h6>Schedulers</h6>";
                    statusHtml += schedulerHtml;
                    statusHtml += "</div>";
                }

                if (dataHtml != "") {
                    statusHtml += "<div class='workers'><h6>Data Services</h6>";
                    statusHtml += dataHtml;
                    statusHtml += "</div>";
                }

                // Get queues detailed status.
                statusHtml += "<div class='queues'><h6>Queues</h6>";
                _.each(currentStatus.queues, function(queue) {
                    statusHtml += "<div>";
                    statusHtml += "<span class='name'>" + queue.name + "</span>";
                    statusHtml += "<span class='size'>size " + queue.size + "</span>";
                    statusHtml += "</div>";
                });
                statusHtml += "</div>";

                statusHtml += "</div>";

                $scope.statusTooltip = statusHtml;
                $scope.serviceStatus = currentStatus;
                $scope.checksPerSecond = currentStatus.checksPerSecond;
            };

            // Start refreshing workers / queue status.
            $interval(refreshStatus, 15000);
            refreshStatus();

            String.prototype.format = function() {
                var args = arguments;
                var i = 0;
                return this.replace(/\{(\w*)?:?(\.\d*f)?\}/g, function(match, key, format) {
                    var value = '';
                    key = (typeof key === 'undefined' || key === '') ? 0 : key;
                    value = typeof args[i] === 'object' ? args[i][key] : args[key];

                    if (format) {
                        var fp = format.match(/\.(\d*)f/)[1];
                        value = parseFloat(value).toFixed(fp);
                    }

                    i++;
                    return value;
                });
            };

            // redirect to end url after successful authentication
            var signinRedirTo = localStorageService.get('signinRedirTo');
            if (signinRedirTo) {
                localStorageService.set('signinRedirTo', null);
                return $location.url(signinRedirTo);
            }

        }]);
</script>
</html>
