<!DOCTYPE html>
<html ng-controller="IndexCtrl"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta property="sessionExpiredUrl" content="logout?error=session_expired" ></meta>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ZMON">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="ZMON">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

    <title>ZMON</title>

    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/zalando-bootstrap.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/font-awesome.min.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/angular-ui-select.min.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/asset/css/highlightjs/atom-one-light.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/main.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/charts.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/dashboard.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/errors.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/forms.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/performance.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/cloud.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/select2/zmon-select2.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/select2/select2-bootstrap.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/select2/select2.css?t=@buildTime@'" />
    <link rel="stylesheet" type="text/css" th:href="${staticUrl} + '/styles/nvd3/nv.d3.min.css?t=@buildTime@'" />

    <script th:src="${staticUrl} + '/lib/stacktrace/stacktrace.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/jquery/jquery.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/bootstrap/bootstrap.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular/angular.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-local-storage/angular-local-storage.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-cookies/angular-cookies.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-sanitize/angular-sanitize.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angular-route/angular-route.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/ui-bootstrap/ui-bootstrap-tpls.min.js?t=@buildTime@'"></script>

    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.time.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.selection.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.stack.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/flot/jquery.flot.tooltip.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/lodash/lodash.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/moment/moment.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/d3/d3.min.js?t=@buildTime@'"></script>

    <script th:src="${staticUrl} + '/lib/raphael/raphael.2.1.0.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/justgage/justgage.1.2.9.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/showdown/showdown.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/ace/ace.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/jsonpath/jsonpath.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/jsonpath-dchester/jsonpath.min.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/js-yaml/js-yaml.min.js?t=@buildTime@'"></script>
    <script th:src="${staticUrl} + '/lib/angulartics/angulartics.min.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/colorhash/colorhash.js?t=@buildTime@'" charset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/d3/d3.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/nvd3/build/nv.d3.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/ng-infinite-scroll/ng-infinite-scroll.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/clipboard/clipboard.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/ngclipboard/ngclipboard.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/angular-ui-select/select.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/highlightjs/highlight.pack.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/angular-highlightjs/angular-highlightjs.min.js?t=@buildTime@'" chartset="utf-8"></script>
    <script th:src="${staticUrl} + '/lib/ng-debounce/ng-debounce.js?t=@buildTime@'" chartset="utf-8"></script>

    <!-- Google Analytics -->
    <script charset='UTF-8' th:inline="javascript" th:if="${googleanalyticsEnabled}">
      var googleanalyticsConfig = /*[[${googleanalyticsConfig}]]*/ { apiKey: "" };
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', googleanalyticsConfig.apiKey, 'auto');
      ga('send', 'pageview');
    </script>

    <!-- AngularJS Bootstrap -->
    <script type="text/javascript">
        var bootstrapped = false;
        var bootstrap = function() {
            if (bootstrapped) return;
            bootstrapped = true;
            angular.element(function() {
                angular.bootstrap(document, ['zmon2App']);
            });
        }
    </script>

    <!-- OpenTracing -->
    <script th:inline="javascript" th:if="${eumTracingEnabled}" src="/lib/opentracing-javascript-utils/dist/opentracing-javascript-utils.js"></script>
    <script th:inline="javascript" th:if="${eumTracingEnabled}">
      var eumTracingConfig = /*[[${eumZmonTracingConfig}]]*/  { name: "noop", config: {} };
      eumTracingConfig = JSON.parse(eumTracingConfig);

      // initialize app if OT takes longer than 2s to load and initialize
      var timeout = setTimeout( () => bootstrap(), 2000);

      opentracingJavascriptUtils.initOpenTracing(eumTracingConfig)
                                    .then((e) => {
                                        console.log('Opentracing Initialized');
                                    }).catch( (e) => {
                                        console.log("Couldn't initialize Opentracing.", e)
                                    })
                                    .then( () => {
                                        clearTimeout(timeout);
                                        bootstrap();
                                    })
    </script>

    <script th:inline="javascript" th:if="!${eumTracingEnabled}">
        bootstrap();
    </script>

    <!-- Firebase -->
    <script th:inline="javascript" th:if="${firebaseEnabled}" src="/lib/firebase/firebase-app.js"></script>
    <script th:inline="javascript" th:if="${firebaseEnabled}" src="/lib/firebase/firebase-messaging.js"></script>
    <script th:inline="javascript" th:if="${firebaseEnabled}">
        // Initialize Firebase
        var config = /*[[${firebaseConfig}]]*/ { apiKey: "", authDomain: "", databaseURL: "", storageBucket: "", messagingSenderId: ""};
        firebase.initializeApp(config);
    </script>

    <!-- Sentry -->
    <script th:inline="javascript" th:if="${sentryEnabled}" src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
    <script th:inline="javascript" th:if="${sentryEnabled}">
        var sentryConfig = /*[[${sentryConfig}]]*/ {};
        Raven.config(sentryConfig.dsnUrl, { release: '0.0.1'}).install()
    </script>

    <script th:inline="javascript">
        var consent = /*[[${consentConfig}]]*/ { title: "", content: "" };
    </script>

    <link rel="manifest" href="/manifest.json">
</head>

<body ng-class="activePage" ng-keypress="keypress($event)" ng-keydown="keydown($event)">
    <div class="loading-indicator" ng-show="IndexCtrl.getLoadingIndicatorState()">
        Loading...
    </div>
    <consent-modal title="{{title}}" content="{{content}}" th:if="${consentEnabled}"></consent-modal>
    <div class="modal fade" id="alertModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Unique name required to save</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    
    <div tv-logout-modal id="tvLogoutModal" tv-mode="tvMode" th:if="${logoutUrl}"></div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="span12">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="/logo.png" th:src="@{/logo.png}" /> ZMON</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse navbar-left">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active-page': activePage == 'dashboards'}"><a href="#dashboards">Dashboards</a></li>
                        <!--/** <sec:authorize="isAuthenticated()"> **/-->
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'cloud'}"><a href="#/cloud" >Cloud</a></li>
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'entities-page'}"><a href="#/entities" >Entities</a></li>
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'check-definitions'}"><a href="#/check-definitions" >Check defs</a></li>
                            <li sec:authorize="isAuthenticated()" ng-class="{'active-page': activePage == 'alert-definitions'}"><a href="#/alert-definitions" >Alert defs</a></li>
                        <!--/** </sec:authorize> **/-->
                        <li th:if="${hasTrialRunPermission}" ng-class="{'active-page': activePage == 'trial-run'}"><a href="#trial-run" >Trial Run</a></li>
                        <li th:if="${#strings.length(feedbackRedirectUrl) > 0}">
                            <a th:href="${feedbackRedirectUrl}" class="feedback-link" target="_blank">Give feedback !</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-text navbar-right" ng-cloak>
                    <span ng-class="{invisible: !serviceStatus.hasDataRefresh}">
                        <start-stop refreshing="serviceStatus.isDataRefreshing" start-refresh-callback="resumeDataRefresh()" stop-refresh-callback="pauseDataRefresh()" ></start-stop>
                    </span>
                    <span class="app-status" ng-show="serviceStatus.isStatusRefreshing" uib-tooltip-html="statusTooltip" tooltip-placement="bottom" tooltip-trigger="mouseenter">
                        <strong ng-class="serviceStatus.queueSize > 1000 ? 'warning' : 'ok'">{{serviceStatus.queueSize}}</strong> in queue,
                        <strong ng-class="serviceStatus.workersActive < serviceStatus.workersTotal ? 'warning' : 'ok'">{{ serviceStatus.workersActive}}/{{ serviceStatus.workersTotal}}</strong> active,
                        <strong>{{ checksPerSecond | number:2 }}</strong>/s
                        <strong class="app-last-update" ng-class="{warning:alertsOutdated}" ng-show="activePage === 'dashboard'">{{alertsLastUpdate | time}}</strong>
                    </span>
                    <span ng-show="!serviceStatus.isStatusRefreshing">
                        Initializing status...
                    </span>
                    <span th:if="${firebaseEnabled}">
                        <notifications></notifications>
                    </span>
                    <span class="app-status">
                        <a title="ZMON Documentation" target="docs" href="https://docs.zmon.io">
                            <i class="fa fa-question-circle fa-lg"></i>
                        </a>
                    </span>
                    <span class="app-status">
                        <a title="Grafana" target="_blank" href="/grafana/">
                            <i class="fa fa-fw fa-area-chart fa-lg"></i>
                        </a>
                    </span>
                    <span class="app-status">
                        <a title="Global Search">
                            <i class="fa fa-fw fa-search clickable" ng-click="globalSearchVisible = !globalSearchVisible" ng-class="{'active':globalSearchVisible}"></i>
                        </a>
                    </span>
                    <span sec:authorize="isAnonymous()" class="auth">
                        <a class="auth-action" ng-href="/signin">Log in</a>
                    </span>
                    <span sec:authorize="isAuthenticated()" class="auth"
                        data:user="${userName}"
                        data:teams="${teams}"
                        data:schedule-downtime="${hasScheduleDowntimePermission}"
                        data:delete-downtime="${hasDeleteDowntimePermission}"
                        data:add-comment="${hasAddCommentPermission}"
                        data:add-alert-def="${hasAddAlertDefinitionPermission}"
                        data:add-dashboard="${hasAddDashboardPermission}"
                        data:instantaneous-alert-evaluation="${hasInstantaneousAlertEvaluationPermission}"
                        data:cloud-check="${cloudCheckId}"
                        data:logout-url="${logoutUrl}">

                        <button type="button" class="auth-user btn btn-default dropdown-toggle" data-toggle="dropdown" uib-popover="Teams: {{userTeamsOnPopover}}" popover-placement="left" popover-trigger="mouseenter" sec:authentication="name">
                            klaus
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="logout" data-test="logout" th:href="@{/logout}">Logout</a></li>
                            <th:block th:unless="${#strings.startsWith(userName,'ZMON_TV_')}"><li><a tv-logout-modal data-test="tv-mode">Switch to TV mode</a></li></th:block>
                        </ul>
                   </span>
                </div>
            </div>
        </div>
    </nav>

    <global-search visible="globalSearchVisible"></global-search>

    <div class="main-wrapper" ng-class="{'globalSearchVisible':globalSearchVisible}">
        <div id="message-manager-wrapper">
            <span class="message"></span>
        </div>
        <div id="main" ng-view></div>
    </div>
</body>

<script th:src="${staticUrl} + '/js/app.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/entities.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/timespan.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/datetime.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/time.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/prettify.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/markdown.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/epochToDate.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/UTCdate.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/downtimeReasons.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/inDisplayedGroup.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/encodeUri.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/entityName.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/timeago.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/filters/sortJson.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/priority.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/status.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/chart.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/chartd3.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/gauge.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/trend.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/startStop.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/dashboardWidget.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/networkMap.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/json.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/expand.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/focus.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/autofocus.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/commentModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/entityFilterContainer.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/entityFilterForm.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigContainer.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigChart.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigGauge.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigValue.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigTrend.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/widgetConfigIframe.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/codeEditor.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/repeatMonitor.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/modelChangeBlur.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/clickOutside.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/dropdown.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertValueModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/notificationModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/downtimeModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertHistory.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertDowntimes.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/alertDeleteModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/codeEditorModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/tvLogoutModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/consentModal.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/globalSearch.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/keytrap.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/caret.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/notifications.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/directives/windowTitle.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/MainAlertService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/CommunicationService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/EntityFilterTypesService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/FeedbackMessageService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/HttpResponseInterceptor.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/UserInfoService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/DowntimesService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/PreconditionsService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/LoadingIndicatorService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/services/FormatService.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/IndexCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/DashboardCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CloudCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CloudEndpointsCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/AlertDetailsCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/AlertDefinitionCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CheckDefinitionCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CheckDefinitionEditCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/DashboardDefinitionCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/AlertDefinitionEditCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/DashboardConfigurationCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/CheckChartsCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/TrialRunCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/ChangesCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/controllers/EntityCtrl.js?t=@buildTime@'"></script>
<script th:src="${staticUrl} + '/js/components/checkRuntimeSelect.js?t=@buildTime@'"></script>
</html>
