<window-title title="Checks"></window-title>

<h1>Check Definitions</h1>

<div class="zmon-controls row">
    <div class="row">
        <div class="col-md-8 text-left">
            <form id="searchbar" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-fw fa-search"></i></button>
                        </span>
                        <input class="form-control" placeholder="Filter definitions"  type="text" ng-model="checkFilter" autofocus />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <dropdown label="Filter team:" options="checkTeams" default-option="All Teams" selected="teamFilter" on-selection="setTeamFilter(option)"></dropdown>
        </div>
    </div>
</div>

<div class="zmon-controls row">
    <a class="btn btn-primary" href="#/trial-run/" tooltip="You will be redirected to Trial Run. Please define, test and save your check there."><i class="fa fa-fw fa-plus"></i> Add New Check Definition</a>
</div>

<div class="row">
    <div class="table-responsive col-md-12">
        <table class="zmon-data-table table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th class="name-col" ng-click="sortType = 'name'; sortOrder = !sortOrder">Name
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'name' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'name' && !sortOrder"></i>
                    </th>
                    <th ng-click="sortType = 'command'; sortOrder = !sortOrder">Command
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'command' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'command' && !sortOrder"></i>
                    </th>
                    <th class="entities-col" ng-click="sortType = 'entities'; sortOrder = !sortOrder">Entities
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'entities' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'entities' && !sortOrder"></i>
                    </th>
                    <th class="team-col" ng-click="sortType = 'owning_team'; sortOrder = !sortOrder">Team
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'owning_team' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'owning_team' && !sortOrder"></i>
                    </th>
                    <th class="interval-col" ng-click="sortType = 'interval'; sortOrder = !sortOrder">Interval
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'interval' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'interval' && !sortOrder"></i>
                    </th>
                    <th class="status-col" ng-click="sortType = 'status'; sortOrder = !sortOrder">Status
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'status' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'status' && !sortOrder"></i>
                    </th>
                </tr>
            </thead>
            <tbody infinite-scroll="incLimit()">
                <tr ng-repeat="def in checkDefinitions| orderBy:sortType:sortOrder | filter:checkFilter | limitTo: limit" last="$last">
                    <td> <a href="#/check-definitions/view/{{ def.id }}">{{def.name}}</a></td>
                    <td class="ellipsis">{{def.command}}</td>
                    <td ng-bind-html="def.entities | entities"></td>
                    <td>{{def.owning_team}}</td>
                    <td class="text-right">{{def.interval| timespan:'s'}}</td>
                    <td class="text-center"><status status="def.status"/></td>
                </tr>
                <tr ng-show="!initialLoading && checkDefinitions.length < 1">
                    <td colspan="6" class="text-center">
                        No check definitions found for the specified team / filter.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
