<window-title title="Check (Edit) {{::check.id}} - {{::check.name}}"></window-title>

<div class="row">
    <div class="col-md-12" ng-switch="mode">
        <h1 ng-switch-when="edit">Edit Check Definition</h1>
        <h1 ng-switch-when="add">Add Check Definition</h1>
        <h1 ng-switch-when="clone">Clone Check Definition</h1>
    </div>
</div>

<form class="form-horizontal" role="form" name="cdForm" novalidate>
    <div class="form-group" ng-if="mode === 'edit'">
        <label class="col-sm-2 control-label">Check ID</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{check.id}}</p>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && cdForm.name.$error.required}">
        <label for="inp-name" class="col-sm-2 control-label">Name *</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inp-name" name="name" placeholder="Check name" ng-model="check.name" required>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && cdForm.description.$error.required}">
        <label for="inp-description" class="col-sm-2 control-label">Description *</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="inp-description" name="description" placeholder="Short descriptive text about the check" ng-model="check.description" required></textarea>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && cdForm.team.$error.required}">
        <label for="inp-owning-team" class="col-sm-2 control-label">Owner Team *</label>
        <div class="col-sm-10">
            <ui-select name="owningTeam" ng-model="check.owning_team" theme="select2" required>
                <ui-select-match placeholder="Select or search a team in the list...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in getItems(check.owning_team, $select.search) | filter: $select.search">
                    <div ng-bind="item"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && cdForm.check_command.$error.required}">
        <label for="inp-command" class="col-sm-2 control-label"><a href="https://docs.zmon.io/en/latest/user/check-commands.html" rel="help" target="docs">Check Command *</a></label>
        <div class="col-sm-10">
            <code-editor-modal code="check.command" title="Check Command" language="python"></code-editor-modal>
            <div id="inp-command" name="check_command" class="code-editor" ng-model="check.command" code-language="python" code-editor required></div>
            <span class="help-block">Valid Python expression used to query the instances specified in entities filter.</span>
        </div>
    </div>

    <check-runtime-select runtime="check.runtime" check-id="checkId"></check-runtime-select>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && cdForm.entities.$error['valid-json'] || cdForm.entities.$error.required }">
        <label for="inp-entities" class="col-sm-2 control-label">
            <a href="https://docs.zmon.io/en/latest/user/check-definitions.html#entity-filter" rel="help" target="docs">Included Entities</a>
            <div id="entity-filter-buttons">
                <button type="button" class="btn btn-primary fa fa-keyboard-o" ng-model="entityFilterInputMethod" uib-btn-radio="'text'" title="Plain text input"></button>
                <button type="button" class="btn btn-primary fa fa-check-square-o" ng-model="entityFilterInputMethod" uib-btn-radio="'form'" title="Form input"></button>
            </div>
        </label>
        <div class="col-sm-10" ng-class="{'has-error': cdForm.submitted && cdForm.entities.$error['non-empty-json']}">
            <code-editor-modal code="entityFilter.textEntityFilters" title="Included Entities"></code-editor-modal>
            <div id="inp-entities" name="entities" ng-show="entityFilterInputMethod == 'text'" class="code-editor" ng-model="entityFilter.textEntityFilters" json non-empty-json code-editor required></div>
            <div ng-show="entityFilterInputMethod == 'form'">
                <entity-filter-container form-entity-filters="entityFilter.formEntityFilters" invalid-json="cdForm.entities.$error['valid-json']" empty-json="cdForm.entities.$error['non-empty-json']"></entity-filter-container>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-2" ng-if="matchedEntitiesCount !== null">
            <div class="col-sm-12 matched-entities">
                <div class="col-sm-3 entities-count">
                    <span ng-if="matchedEntitiesCount">{{ matchedEntitiesCount.toLocaleString() }}</span>
                    <span ng-if="matchedEntitiesCount === 0">No</span> entities matched
                </div>
                <div class="col-sm-9 entities-list">{{ matchedEntities.join(', ') }}</div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && (cdForm.interval.$error.required || cdForm.interval.$error.number || cdForm.interval.$error.min)}">
        <label for="inp-interval" class="col-sm-2 control-label"><a href="https://docs.zmon.io/en/latest/user/check-definitions.html#interval" rel="help" target="docs">Interval *</a></label>
        <div class="col-sm-10">
            <input id="inp-interval" name="interval" type="number" min="15" class="form-control" ng-model="check.interval" placeholder="Please type interval in seconds" required ng-if="whitelistedSubInterval">
            <input id="inp-interval" name="interval" type="number" min="60" class="form-control" ng-model="check.interval" placeholder="Please type interval in seconds" required ng-if="!whitelistedSubInterval">
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': cdForm.submitted && cdForm.status.$error.required}">
        <label for="inp-status" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <select class="form-control" id="inp-status" name="status" ng-model="check.status" ng-options="item.value as item.label for item in statusOptions" required></select>
        </div>
    </div>

    <div class="form-group">
        <label for="inp-technical-details" class="col-sm-2 control-label">Technical Details</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="inp-technical-details" name="technicalDetails" placeholder="Add any technical details this check may have" ng-model="check.technical_details"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="btn btn-primary" ng-click="cancel()"><i class="fa fa-fw fa-times" ></i>Cancel</span>
            <button class="btn btn-warning" ng-click="save()"><i class="fa fa-fw fa-save" ></i>Save</button>
        </div>
    </div>

</form>
