<window-title title="Dashboard - {{::dashboardName}} ({{::dashboardId}})"></window-title>

<div class="zmon-widgets" ng-class="{noWidgets:!showWidgets}">
    <div class="col-md-{{ nextWidgetConf.width }}" ng-repeat="nextWidgetConf in widgetsConf">
        <dashboard-widget config="nextWidgetConf" data="checkResultsByCheckIdByEntity"/>
    </div>
</div>

<div id="zmon-alerts-container" ng-class="{noWidgets: !showWidgets, compact: compact}">
    <div class="zmon-controls row">
        <div id="searchbar-container" class="col-md-8">
            <form id="searchbar" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn"><i class="fa fa-fw fa-search"></i></button>
                        </span>
                        <input class="form-control" placeholder="Search for alerts"  type="text" ng-model="alertSearch" ng-model-options="{debounce:500}" />
                    </div>
                </div>
            </form>
            <form id="tagbar" class="form-inline" ng-show="tagsEditOpen">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn"><i class="fa fa-fw fa-tag"></i></button>
                        </span>
                        <ui-select class="dashboard-tags" multiple tagging tagging-label="(custom 'new' tag)" ng-model="dashboardTags.tags" theme="bootstrap" sortable="true" title="Tags" on-select="addTag($item)" on-remove="removeTag($item)">
                            <ui-select-match class="tag-placeholder" placeholder="Add a tag filter">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="tag in allTags | filter: $select.search">{{tag}}</ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4 text-right">

            <div class="dashboard-tags-container">
                <button class="btn" title="Tags" ng-click="toggleTagsEditPopup()">
                    <i class="fa fa-fw fa-tags"></i> {{dashboardTags.tags.length || 0}}
                </button>
            </div>

            <button id="alerts-in-downtime-toggle-button" class="btn" title="Show/Hide Alerts in Downtime" ng-show="alertsInDowntime.length" ng-click="toggleAlertsWithAllDowntime()"><i class="fa fa-flag" ng-hide="showAlertsWithAllEntitiesInDowntime"></i><i class="fa fa-flag-o" ng-show="showAlertsWithAllEntitiesInDowntime"></i> {{ alertsInDowntime.length }}</button>
            <button id="widgets-toggle-button" class="btn" ng-show="widgetsConf.length" ng-click="showWidgets = !showWidgets" title="Toggle widgets panel"><i class="fa fa-fw fa-toggle-{{ showWidgets ? 'up' : 'down' }}"></i> {{ showWidgets ? 'Hide' : 'Show' }} Widgets</button>
            <button class="btn" ng-click="toggleCompactView()" title="Toggle default / compact view"><i class="fa fa-fw" ng-class="{'fa-columns': !compact, 'fa-bars': compact}"></i></button>
            <button ng-show="dashboardId" class="btn" ng-click="configureWidgets()" title="Configure widgets"><i class="fa fa-fw fa-gear"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="zmon-alert no-alerts" ng-show="alertsLoaded && alerts.length === alertsInDowntime.length">
            <div class="col-md-11">
                <h1>No Alerts for {{ team }}</h1>
                <p>Good, there are 0 active alerts for team "{{ team }}" at the moment.</p>
                <p ng-if="alertsInDowntime.length">There are {{ alertsInDowntime.length }} alerts in Downtime (<a class="clickable" ng-click="toggleAlertsWithAllDowntime()"><span ng-hide="showAlertsWithAllEntitiesInDowntime">Show</span><span ng-show="showAlertsWithAllEntitiesInDowntime">Hide</span></a>)</p>
            </div>
            <div class="col-md-1">
                <div class="text-right oldest-timestamp">
                    <!-- TODO -->
                </div>
            </div>
        </div>
    </div>

    <!-- Alerts -->
    <div class="zmon-alert" ng-repeat="alertInstance in alerts | filter:alertSearch | orderBy:['alert_definition.priority', '-oldestStartTime'] track by $id(alertInstance.alert_definition.id)" ng-class="(compact ? 'col-md-6' : 'row').concat(' alert-prio-' + alertInstance.alert_definition.priority)" ng-hide="alertInstance.alert_definition.priority === 10 && !showAlertsWithAllEntitiesInDowntime">
        <div ng-class="compact ? 'col-md-10' : 'col-md-7'">
            <h1>
              <span class="fa fa-exclamation-triangle" title="Check execution for all entities that are in ALERT state now resulted in an exception!" ng-show="{{alertInstance.inException}}"></span>
              <span class="notification-wrapper">
                <span class="fa fa-bell clickable" title="This alert has a notification" ng-show="!alertInstance.notifications_ack" ng-if="alertInstance.alert_definition.notifications.length" notification-modal alert="alertInstance"></span>
                <span class="fa fa-bell-o" title="This alert notification has been taken care of!" ng-show="alertInstance.notifications_ack" ng-if="alertInstance.alert_definition.notifications.length"></span>
                <span class="fa fa-check alert-notification-checked" title="This alert notification has been taken care of!" ng-show="alertInstance.notifications_ack" ng-if="alertInstance.alert_definition.notifications.length"></span>
              </span>
              <a ng-href="#/alert-details/{{alertInstance.alert_definition.id}}">{{alertInstance.message}}</a> <span ng-if="alertInstance.numEntitiesNotInDowntimeNow > 1">({{alertInstance.numEntitiesNotInDowntimeNow}})</span>
            </h1>
            <span ng-show="!compact" ng-repeat="entityInstance in truncateNonDowntimeEntities(alertInstance.entities)">
                <span ng-if="$index != 0">, </span>
                <span uib-popover="value for {{entityInstance.entity | entityName}}: {{entityInstance.result.value}}" popover-placement="right" popover-class="entityPopover"> {{entityInstance.entity | entityName }} ({{entityInstance.result.captures.dashboard ? entityInstance.result.captures.dashboard : entityInstance.result.value | prettify}}) </span>
            </span>
            <span ng-show="!compact" ng-if="alertInstance.entities_count && alertInstance.entities == null">This Alert exceeds current maximum limit of entities.</span>
            <span ng-show="!compact" ng-if="alertInstance.nonDowntimeEntitiesAreTruncated">
                <a ng-click="alertInstance.expanded = true" ng-if="!alertInstance.expanded" class="non-href-anchor">More...</a>
                <a ng-click="alertInstance.expanded = false" ng-if="alertInstance.expanded" class="non-href-anchor">Hide...</a>
                <div class="display: inline-block" ng-show="alertInstance.expanded">
                    <span ng-repeat="entityInstance in restOfNonDowntimeEntities(alertInstance.entities)" ng-hide="entityInstance.result.downtimes.length > 0">
                        {{entityInstance.entity | entityName}} ({{entityInstance.result.captures.dashboard ? entityInstance.result.captures.dashboard : entityInstance.result.value | prettify}})
                    </span>
                </div>
            </span>
        </div>
        <div class="col-md-3" ng-show="!compact">
            <a href="/grafana/dashboard/db/zmon-check-{{alertInstance.alert_definition.check_definition_id}}-{{ getEntityNames(alertInstance.entities, 1) }}">
                <chartd3 chart-data="charts[alertInstance.alert_definition.id]" id="alertInstance.alert_definition.id"></chartd3>
            </a>
        </div>
        <div class="col-md-2">
            <div class="text-right responsible-team ellipsis" title="{{alertInstance.alert_definition.responsible_team}}">
                <span ng-show="!compact">{{alertInstance.alert_definition.responsible_team}}</span>
                <a ng-if="alertInstance.numEntitiesInDowntimeNow" class="fa fa-flag" tooltip="{{alertInstance.numEntitiesInDowntimeNow}} entities in downtime now" tooltip-placement="left" ng-href="#/alert-details/{{alertInstance.alert_definition.id}}?downtimes"></a>
            </div>
            <div class="text-right oldest-timestamp" ng-if="alertInstance.entities && alertInstance.entities.length">
                {{timeSinceLastUpdate(alertInstance.oldestStartTime) | timespan}}
            </div>
        </div>
    </div>
</div>
