<window-title title="Dashboards"></window-title>

<div class="nofavourite warning" ng-show="noFavourite">
    You haven't set a favourite dashboard. Please select one from the list below.
</div>
<h1>Dashboards</h1>
<div class="zmon-controls row">
    <div class="row">
        <div class="col-md-8 text-left">
            <form id="searchbar" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-fw fa-search"></i></button>
                        </span>
                        <input class="form-control" placeholder="Filter dashboards"  type="text" ng-model="dashboardFilter" ng-model-options="{debounce:500}" autofocus />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="zmon-controls">
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-primary" ng-class="{'disabled': !userInfo['add-dashboard']}" href="#/dashboards/add"><i class="fa fa-fw fa-plus"></i> Add A New Dashboard</a>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="zmon-data-table dashboard-table table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th class="actions-col">Actions</th>
                <th class="name-col" ng-click="sortType = 'name'; sortOrder = !sortOrder">Name
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'name' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'name' && !sortOrder"></i>
                </th>
                <th class="createdby-col" ng-click="sortType = 'created_by'; sortOrder = !sortOrder">Created By
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'created_by' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'created_by' && !sortOrder"></i>
                </th>
                <th class="modifiedby-col" ng-click="sortType = 'last_modified_by'; sortOrder = !sortOrder">Last Modified By
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'last_modified_by' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'last_modified_by' && !sortOrder"></i>
                </th>
                <th class="modifieddate-col" ng-click="sortType = 'last_modified'; sortOrder = !sortOrder">Last Modified (UTC)
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'last_modified' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'last_modified' && !sortOrder"></i>
                </th>
                <th class="tags-col" class="tags-col" ng-click="sortType = 'tags'; sortOrder = !sortOrder">Tags
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'tags' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'tags' && !sortOrder"></i>
                </th>
                <th class="mode-col" ng-click="sortType = 'edit_option'; sortOrder = !sortOrder">Edit Mode
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'edit_option' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'edit_option' && !sortOrder"></i>
                </th>
                <th class="team-col" ng-click="sortType = 'alert_teams'; sortOrder = !sortOrder">Alert Teams
                    <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'alert_teams' && sortOrder"></i>
                    <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'alert_teams' && !sortOrder"></i>
                </th>
            </tr>
        </thead>
        <tbody infinite-scroll="incLimit()">
            <tr ng-repeat="def in dashboardDefinitions | orderBy:sortType:sortOrder | filter:dashboardFilter | limitTo: limit track by def.id" repeat-monitor last="$last">
                <td class="text-center">
                    <a href="#/" ng-click="setDefaultDashboard(def.id)">
                        <i ng-show="def.id == defaultDashboardId" uib-tooltip="it is default" tooltip-placement="right" class="fa fa-fw fa-star"></i>
                        <i ng-hide="def.id == defaultDashboardId" uib-tooltip="set as default" tooltip-placement="right" class="fa fa-fw fa-star-o"></i>
                    </a>
                    <a ng-show="def.editable" href="#/dashboards/edit/{{def.id}}">
                        <i class="fa fa-fw fa-edit" uib-tooltip="edit" tooltip-placement="right"></i>
                    </a>
                    <i ng-hide="def.editable" class="fa fa-fw fa-edit semi-transparent"></i>

                    <a ng-show="def.cloneable" href="#/dashboards/clone/{{def.id}}">
                        <i class="fa fa-fw fa-copy" uib-tooltip="clone" tooltip-placement="right"></i>
                    </a>
                    <i ng-hide="def.cloneable" class="fa fa-fw fa-copy semi-transparent"></i>

                    <a ng-show="def.editable" ng-click="deleteDashboard(def.id)" href="#">
                        <i class="fa fa-fw fa-trash" uib-tooltip="delete" tooltip-placement="right"></i>
                    </a>
                    <i ng-hide="def.editable" class="fa fa-fw fa-trash semi-transparent"></i>
                </td>
                <td>
                    <a href="#/dashboards/view/{{def.id}}">{{def.name}}</a>
                </td>
                <td>{{def.created_by}}</td>
                <td>{{def.last_modified_by}}</td>
                <td>{{def.last_modified | UTC | date:'medium'}}</td>
                <td>
                    <div class="ellipsis cursor" tooltip-popup-delay='20' uib-tooltip="{{def.tags.join( ', ')}}">{{def.tags.join( ', ')}}</div>
                </td>
                <td>{{def.edit_option}}</td>           
                <td>
                    <div class=" ellipsis cursor" tooltip-popup-delay='20' uib-tooltip="{{def.alert_teams.join(', ')}}">{{def.alert_teams.join(', ')}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
