<h1>Entities</h1>

<div class="zmon-controls row">
    <div class="row">
        <div class="col-md-8 text-left">
            <form id="searchbar" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-fw fa-search"></i></button>
                        </span>
                        <input class="form-control" placeholder="Filter entities (key:val)" type="text" ng-model="entityFilter" ng-model-options="{debounce:500}" uib-typeahead="sugg for sugg in filterSuggestions | filter:$viewValue | limitTo:10" autofocus />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <dropdown label="Filter team:" options="alertTeams" default-option="All Teams" selected="teamFilter" on-selection="setTeamFilter(option)"></dropdown>
        </div>

    </div>
</div>

<div class="row">
    <div class="table-responsive col-md-12">
        <table class="zmon-data-table table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th class="id-col" ng-click="sortType = 'id'; sortOrder = !sortOrder">ID
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'id' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'id' && !sortOrder"></i>
                    </th>
                    <th class="type-col" ng-click="sortType = 'type'; sortOrder = !sortOrder">Type
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'type' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'type' && !sortOrder"></i>
                    </th>
                    <th class="alerts-col" ng-click="sortType = 'alerts'; sortOrder = !sortOrder">Alerts
                        <i class="fa fa-fw fa-sort-asc sort-arrow" ng-show="sortType === 'alerts' && sortOrder"></i>
                        <i class="fa fa-fw fa-sort-desc sort-arrow" ng-show="sortType === 'alerts' && !sortOrder"></i>
                    </th>
                </tr>
            </thead>
            <tbody infinite-scroll="incLimit()">
                <tr ng-repeat="entity in entities | orderBy:sortType:sortOrder | limitTo: limit" last="$last">
                    <td><a href="#/entities?ef=id:{{entity.id}}" title="{{entity.id}}">{{entity.id | entityName}}</a></td>
                    <td><a href="#/entities?ef=type:{{entity.type}}">{{entity.type}}</a></td>
                    <td>
                        <div class="entity-alerts" ng-repeat="alert in entity.alerts | orderBy:'id'">
                            <a href="#/alert-details/{{alert.id}}" title="{{ alert.entities[entity.id].status + ': ' + alert.name + (alert.entities[entity.id].result ? ' (' + formatResult(alert.entities[entity.id].result) + ')' : '')}}"
                               ng-class="['alert-prio-' + alert.definition.priority, 'alert-status-' + (alert.entities[entity.id].status)]"
                                >{{ alert.entities[entity.id].result ? timeAgo(alert.entities[entity.id].result.start_time) : (alert.entities[entity.id].status == 'inactive' ? 'OK' : '?')}}</a>
                        </div>
                        <span ng-show="entity.alerts.length < 1 && teamFilter">(no alerts for team {{ teamFilter }})</span>
                        <span ng-show="entity.alerts.length < 1 && !teamFilter">(no alerts)</span>
                    </td>
                </tr>
                <tr ng-show="entities.length < 1">
                    <td colspan="3" style="text-align:center">
                        No entities found for the specified filter. Please filter by entity attributes (e.g. "type:foo").
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
