chart
{
    display: block !important;
    height: 100px;
    width: 95%;
}

span.select-boxes
{
    margin-left: 5px;
}

.chart-label-container
{
    padding-left: 40px;
    padding-right: 40px;
}

.chart-label-container table tr
{
    display: inline-table;
}

.chart-data-warning
{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ebb129;
}

.chart-widget-container
{
    margin-left: 30px;
    margin-right: 10px;
}

/* d3 charts */

.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.axis text, .ts
{
    fill: rgba(220,220,220,0.9);
    font-size: 13px;
}

.area
{
    fill: rgba(220,220,220,0.4);
}

.vlines, .hlines
{
    stroke: rgb(200,200,200);
    shape-rendering:crispEdges;
    stroke-width:2px;
    stroke-opacity:0.1;
}
