.form-control
{
    font-size: 15px;
    height: auto;
    margin-bottom: 10px;
}

.form-group .clear-input.fa-times
{
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 1.6;
    font-size: 20px;
}

.date-form a.apply
{
    margin-top: 27px;
}

.date-form .uib-timepicker
{
    margin-top: -5px;
}

.date-form input.date
{
    float: left;
    width: 150px;
}

/* DATA TABLES */
/* -------------------------------------------------------------------------- */

.zmon-data-table
{
    table-layout: fixed;
}

.zmon-data-table td.ellipsis, .ellipsis
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.zmon-data-table th.actions-col
{
    width: 5%;
    text-align: justify;
}

.zmon-data-table td.actions-col div
{
    display: inherit;
    padding-left: 3px;
}

.zmon-data-table td.actions-col:after
{
    content: '';
    width: '100%';
    display: inline-block;
}


.zmon-data-table th.event-name-col
{
    width: 8%;
}

.zmon-data-table th.name-col
{
    width: 20%;
}

.zmon-data-table th.timestamp-col
{
    width: 10%;
}

.zmon-data-table th.modified-by-col
{
    width: 8%;
}

.zmon-data-table th.captures-col
{
    width: 10%;
}

.zmon-data-table th.entities-col
{
    width: 12%;
}

.zmon-data-table th.interval-col
{
    width: 5%;
}

.zmon-data-table th.status-col
{
    width: 5%;
}

.zmon-data-table th.check-id-col
{
    width: 7%;
}

.zmon-data-table th.team-col
{
    width: 12%;
}
.zmon-data-table th.tags-col
{
    width: 12%;
}


.zmon-data-table th.responsible-team-col
{
    width: 12%;
}

.zmon-data-table th.priority-col
{
    width: 6%;
}

.zmon-data-table th.link-icon-col
{
    width: 10%;
}

.zmon-data-table th.data-col
{
    width: 20%;
}

.zmon-data-table th.value-col
{
    width: 30%;
}

.zmon-data-table th.modification-type-col
{
    width: 8%;
}

.zmon-data-table th i.sort-arrow
{
    position: relative;
    float: right;
}

.zmon-data-table th i.fa-sort-asc
{
    top: 5px;
}

.zmon-data-table .set-downtime-checkbox
{
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.zmon-data-table #set-downtimes-button,
.zmon-data-table #delete-downtimes-button
{
    padding-left: 5px;
    width: 49px;
    overflow: hidden;
}

@media (max-width: 767px){
    .zmon-data-table
    {
        min-width: 750px;
    }
    .zmon-data-table th.actions-col
    {
        width: 12%;
    }
    .zmon-data-table td.actions-col div
    {
        padding-left: 0px; 
    }   
}

/* ALERTS AND CHECK DEFINITIONS */
/* -------------------------------------------------------------------------- */

#edit-definition-form label
{
    font-size: small;
    margin-top: 5px;
    padding-right: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

.parameter
{
    float: left;
    margin-right: 20px;
}

.parameter-row
{
    position: relative;
}

.parameter-row .name-col
{
    padding-left: 0;
}

select.parameter
{
    height: 35px;
}

.parameter.has-error
{
    border-color: #d40018;
}

/* START STOP */
/* -------------------------------------------------------------------------- */

.start-stop
{
    float: left;
    padding: 0 5px 0 8px;
}

.start-stop strong
{
    color: #EF5157;
}

.start-stop button
{
    border: none;
    background: transparent;
    color: #8f8f8f;
    margin: 0;
    padding: 0;
}

.start-stop button:hover
{
    color: #fff;
}

/* AUTH ACTION */
/* -------------------------------------------------------------------------- */

.auth button.auth-user
{
    margin-top: -5.5px;
}

.auth-action
{
    padding: 0 0 0 8px;
}

/* ALERT INHERITANCE */
/* -------------------------------------------------------------------------- */

.inheritance-form .inheritance-overwrite
{
    position: absolute;
    top: 5px;
    left: -3px;
}

.inheritance-template
{
    padding-top: 10px;
}

.parameter-row .inheritance-overwrite
{
    left: -18px;
}

.inp-priority
{
    margin-top: 5px;
}

.inp-description
{
    margin-bottom: 25px;
}

textarea#inp-description
{
    margin-bottom: 0;
}

input.checkbox
{
    float: left;
    margin: 10px;
    margin-left: 0;
    margin-top: 5px;
    width: auto;
}

.modal-body .input-group
{
    padding-top: 36px;
}

.modal-body label.schedule
{
    margin-top: 5px;
    text-align: right;
}

.borderless .select2-choices
{
    border: none !important;
}
