<div class="zmon-controls">
    Events from <em>{{historyFromInEpochSeconds * 1000 | UTC}} (UTC)</em> till now
    <button class="btn" ng-class="{'active-page': activeHistoryButton['1']}" ng-click="fetchHistoryLastNDays(1)">Last day</button>
    <button class="btn" ng-class="{'active-page': activeHistoryButton['7']}" ng-click="fetchHistoryLastNDays(7)">Last 7 days</button>
    <button class="btn" ng-class="{'active-page': activeHistoryButton['14']}" ng-click="fetchHistoryLastNDays(14)">Last 14 days</button>
    <button class="btn" ng-class="{'active-page': activeHistoryButton['-1']}" ng-click="fetchOneMoreWeekOfHistory()">+1 week</button>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th class="col-sm-2">When (UTC)</th>
            <th class="col-sm-2">Type</th>
            <th class="col-sm-1">Entity</th>
            <th>Value</th>
            <th class="col-sm-1">Captures</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in history | orderBy: '-time'" ng-if="entry.type_name != 'TRIAL_RUN_SCHEDULED'">
            <td>{{::entry.time | epochToDate | UTC }}</td>
            <td class="text-center">
            <span class="history-tag" style="background-color: hsla({{::HSLaFromHistoryEventTypeId(entry.type_id)}}, 50%, 50%, 1);">{{::entry.type_name}}</span>
            </td>
            <td>{{::entry.attributes.entity}}</td>
            <td>
                <div alert-value-modal name="entry.attributes.entity" value="entry.attributes.value">{{ entry.attributes.value!=null ? entry.attributes.value : entry.attributes }}</div>
            </td>
            <td>
                <div alert-value-modal name="entry.attributes.entity" value="entry.attributes.captures">{{ entry.attributes.captures!=null ? entry.attributes.captures : "" }}</div>
            </td>
        </tr>
    </tbody>
</table>
