<div class="form-group" ng-show="enabled" ng-class="{'has-warning': warn}">
    <label for="runtime" class="col-sm-2 control-label">Runtime</label>
    <div class="col-sm-10">
        <select name="{{ name }}"
                id="runtime"
                class="form-control"
                ng-disabled="readOnly"
                ng-model="runtime">
            <option ng-repeat="(value, label) in choices"
                    value="{{ value }}">
                {{ label }}
            </option>
        </select>
        <div class="help-block" ng-switch="readOnly">
            <p ng-show="warn">
                <strong>
                    This check uses Python 2 that is deprecated and will be soon discontinued.<br>
                    Please follow <a href="#">the migration guide</a> in order to migrate it to Python 3.
                </strong>
            </p>
            <p ng-switch-when="false">Python version that the check command and its alert conditions will be evaluated
                with.</p>
            <p ng-switch-when="true">Python version that the alert condition will be evaluated with. This value is
                determined by the related check and cannot be adjusted per alert.</p>
        </div>
    </div>
</div>
