<div class="dropdown" uib-dropdown on-toggle="toggle(open)">
    <label>{{label}}</label>
    <a id="simple-dropdown" uib-dropdown-toggle ng-if="selectedOption">{{selectedOption}}</a>
    <a id="simple-dropdown" uib-dropdown-toggle ng-if="selectedOption === null">{{defaultOption}}</a>
    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li>
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-fw fa-search"></i>
                    </button>
                </div>
                <input type="text" class="form-control" ng-model="filter" ng-click="onInput($event)" ng-focus="open"/>
            </div>
        </li>
        <li ng-click="onSelect()" ng-if="filter === ''">
            {{defaultOption}}
        </li>
        <li ng-repeat="option in availableOptions | filter: filter" ng-click="onSelect(option)">
            {{ option }}
        </li>
    </ul>
</div>
