<div id="search" class="global-search col-md-3" ng-show="visible">
    <div class="col-md-12" style="height:100%;">
        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-primary" title="global search">
                    <i class="fa fa-fw fa-search"></i>
                </button>
            </div>
            <input type="text" class="form-control" ng-model="search" placeholder="what are you looking for?"/>
        </div>
        <ul class="col-md-12 list-unstyled">
            <li ng-repeat="item in data | filter:search | orderBy:['type','name'] | limitTo:100">
                <div>
                    <span ng-if="item.type === 'alert'" class="tag alert" title="alert">{{item.id}}</span>
                    <span ng-if="item.type === 'check'" class="tag check" title="check">{{item.id}}</span>
                    <span ng-if="item.type === 'dashboard'" class="tag dashboard" title="dashboard">{{item.id}}</span>
                    <span ng-if="item.type === 'grafana'" class="tag grafana" title="grafana dashboard">{{item.id}}</span>
                    <div class="title">{{item.name || item.title}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
