<div class="text-left json-config-definition">
    <div class="col-sm-6">
        <div class="form-horizontal edit-definition">

            <div class="row">
                <label for="inp-title" class="col-sm-2">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inp-title" name="title" placeholder="Gauge Title" ng-model="widget.title" required />
                </div>
            </div>

            <div class="row">
                <label for="inp-checkDefinitionId" class="col-sm-2">CheckId</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="inp-checkDefinitionId" name="checkDefinitionId" ng-model="widget.checkDefinitionId" />
                </div>
                <label for="inp-entityId" class="col-sm-2 ">Entity Id</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inp-entityId" name="entityId" ng-model="widget.entityId" />
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2">Format</label>
                <div class="col-sm-3">
                  <input type="text" id="format" class="form-control" name="format" ng-model="widget.options.format" placeholder="{:.3f}" />
                </div>
                <label class="col-sm-2">JSONPath</label>
                <div class="col-sm-3">
                    <input type="text" id="jsonpath" class="form-control" name="jsonpath" ng-model="widget.jsonPath" placeholder='"."' />
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2">Min</label>
                <div class="col-sm-3">
                    <input type="number" id="min" class="form-control" name="min" ng-model="widget.options.min" placeholder="0" />
                </div>
                <label class="col-sm-2">Max</label>
                <div class="col-sm-3">
                    <input type="number" id="max" class="form-control" name="max" ng-model="widget.options.max" placeholder="100" />
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2">Alert Styles</label>
                <div class="col-sm-10">
                    <i class="fa fa-plus-circle clickable" style="font-size:20px; line-height:30px" ng-if="!alertStyles.length" ng-click="alertStyles.push({ type: '', value: []})"></i>
                    <ul class="list-unstyled">
                        <li ng-repeat="alertStyle in alertStyles" class="row">
                            <select class="col-sm-2 col-sm-offset-1" style="margin-top:5px" ng-options="type for type in alertStyleTypes" ng-model="alertStyle.type"></select>
                            <div class="col-sm-5" style="padding-right:0;">
                                <input type="text" id="alertStyleValues" class="form-control" name="alertStyleValues" ng-model="alertStyle.value" placeholder="1, 2, 3..." ng-list></input>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-times-circle clickable" style="font-size:20px;line-height:30px" ng-click="alertStyles.splice($index, 1)"></i>
                                <i class="fa fa-plus-circle clickable" style="font-size:20px;line-height:30px" ng-if="$last" ng-click="alertStyles.push({ type: '', value: []})"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6 widget-config-chart-area zmon-widgets">
        <dashboard-widget config="widget"/>
    </div>
</div>
