#
#
#
#
# only needed when 'zmon-zauth-integration' is in pom.xml
#
#zauth:
#    clientId: stups_zmon-localhost-with-zauth_1d836a28-34fa-4dd2-bac0-483dbb3ddb2e
#    clientSecret: 'Vdz}J@-{aEu{A9ogQukYEVw(kQ?UDg5y' # we use 'ticks' here, because 'clientSecret' sometimes contains 'yaml-sensitive-tokens'


security:
  basic:
    enabled: false
  oauth2:
    resource:
      userInfoUri: https://auth.zalando.com/oauth2/tokeninfo

zmon:
  oauth2:
    sso:
      client-id: d843ddae9fe32bdaab6c
      client-secret: 31ef34a9fa0542ec2ac743a4a81962a71483d5c1
  signup:
    github:
      allowed-users:
        - jbellmann
      allowed-orgas:
        - zalando
        - zalando-stups
  authorities:
    simple:
      admins:
        - jbellmann
      users:
        - Jan-M
  teams:
    simple:
      teams:
        jbellmann:
          - firstTeam
          - secondTeam
          - thirdTeam

  alert-results:
    allowed-filters: [ application ]